@page "/bookings"

<h3>All Bookings</h3>

<AuthorizeView>
    <NotAuthorized>
        @if (true) { _navigationManager.NavigateTo("/search", true); }
    </NotAuthorized>
    <Authorized>
        @if (_all != null)
        {
            @foreach (var booking in _all)
            {
                var link = "./booking/" + booking.Id;

                <p>
                    ID: @booking.Id
                    <br />
                    Username of booker: @booking.BookedBy.UserName
                    <br />
                    Total price: @booking.Price
                    <br />
                    Dates: @for (var i = 0; i < booking.Dates.Count; i++)
                    {
                        if (i + 1 == booking.Dates.Count)
                        {
                            <span>@booking.Dates[i]</span>
                        }
                        else
                        {
                            <span>@booking.Dates[i], </span>
                        }
                    }
                    <br />
                    Accommodation: @booking.Accommodation.Address.Street @booking.Accommodation.Address.Number, @booking.Accommodation.Address.Zip @booking.Accommodation.Address.Area, @booking.Accommodation.Address.City, @booking.Accommodation.Address.Country
                    <br />
                    <a href=@link>Open</a>
                </p>
            }
        }
    </Authorized>
</AuthorizeView>

@code {
    private List<Booking> _all;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _all = await _apiCaller.GetAllAsync<Booking>("booking");
        }
        catch (Exception ex)
        {
            await _jSRuntime.InvokeAsync<string>("alertMessage", ex.Message);
        }
    }
}